.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: $green;
  align-items: center;
  color: #fff;

  h1 {
    font-size: 28px;
  }

  @include tablets {
    display: flex;
    text-align: center;
    flex-direction: column-reverse;

    & h1 {
      font-size: 21px;
    }
  }

  a {
    color: inherit;
    opacity: 0.7;
    text-decoration: underline;
    transition: .3s;

    &:hover {
      opacity: 1;
    }
  }
}

.sign-out {
  margin-left: 15px;
}