-
  var links = {
    "Works" : "./works",
    "About" : "./about",
    "Blog": "./blog",
    "Authorization" : "./"
  };

  var socials = {
    "vk" : "https://vk.com/id476946962",
    "github" : "https://github.com/reyzele",
    "in" : "https://www.facebook.com/isQVad"
  };

  var contacts = [
    {
        icon: 'skype',
        desc: 'Vadim Veksler',
        link: 'skype:vladi186?call'
    },{
        icon: 'envelope',
        desc: 'vbulka1986@gmail.com',
        link: 'mailto:vbulka1986@gmail.com'
    },{
        icon: 'phone',
        desc: '+972 54 985 1043',
        link: 'tel:+549851043'
    },{
        icon: 'map_marker',
        desc: 'Sderot, Israel',
        link: 'https://www.google.com/maps?ll=31.517835,34.594962&z=12&t=m&hl=en-US&gl=US&mapclient=apiv3'
    }
  ]

  var skillsType = ['Frontend', 'Backend', 'WorkFlow']
  