.auth-form {
  width: 100%;
  transform: rotateY(180deg);
}

.auth-form__description {
  flex: 1;
  display: flex;
  padding: 0 20px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba($color: #fff, $alpha: 0.85);
}

.auth-form__title {
  margin-bottom: rem(30px);
}

.auth-form__row {
  margin-bottom: rem(20px);
  display: flex;
  flex-direction: row;
  justify-content: center;

  &:nth-child(4) {
    margin-bottom: rem(15px);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.auth-form__icon {
  display: flex;
  width: rem(45px);
  height: rem(45px);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #f0efe9;
  align-items: center;
  justify-content: center;
}

.auth-form__img {
  fill: #c4cbcd;
  width: 16px;
  height: 16px;
}

.auth-form__input {
  height: rem(45px);
  flex: 1;
  padding: 0 18px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.auth-form__input:focus {
  border: 1px solid $green;
}

.auth-form__custom-checkbox {
  margin-right: 5px;
  background-color: $green;
  vertical-align: middle;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

input[type="checkbox"]:checked + .auth-form__custom-checkbox {
  &::before {
    content: "";
    background-image: url('../images/check.png');
    background-repeat: no-repeat;
    background-position: center center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
  }
}

.auth-form__row-title {
  margin-bottom: 5px;
  font-weight: 700;
}

.auth-form__custom-radio {
  display: flex;
  margin-right: 5px;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #cfd0d0;
  justify-content: center;
  align-items: center;
}

input[type="radio"]:checked {
  &+.auth-form__custom-radio {
    &::before {
      width: 7px;
      height: 7px;
      content: "";
      background: $green;
      border-radius: 50%;
    }
  }

  &~.auth-form__custom-radio {
      border: 1px solid $green;
  }

  &~.auth-form__row-text {
    color: $green;
  }
}

.auth-form-btn {
  width: 50%;
}

.auth-form__col {
  display: flex;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}