.hero-parallax  {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  perspective: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

.hero-parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-parallax__img {
  display: block;
  width: 100%;
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  will-change: transform;

  @include laptop {
    bottom: 0;
  }
}

$layers: 9;

@for $layersNum from $layers through 1 {
  .hero-parallax__layer:nth-child(#{$layersNum}) {
    $currentLayer: $layers - $layersNum;
    $perspective: -$currentLayer * 50px;
    $scale: $currentLayer * .5 + 1;

    transform: translateZ($perspective) scale($scale);
  }
}

.hero-parallax__content {
  height: 2000px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transform: translateZ(0);
}